</body>
<!-- <footer class="bg-blue-950 text-white py-4">
    <div class="container mx-auto text-center">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <div>
          <h2 class="text-2xl font-bold mb-2">Sobre Nós</h2>
          <p>Uma breve descrição da sua empresa ou organização.</p>
        </div>
        
        
        <div>
          <h2 class="text-2xl font-bold mb-2">Links Úteis</h2>
          <ul>
            <li><a href="#">Página Inicial</a></li>
            <li><a href="#">Produtos</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </div>
        
        
        <div>
          <h2 class="text-2xl font-bold mb-2">Redes Sociais</h2>
          <ul>
            <li><a href="/"><i class="fab fa-facebook"></i> Facebook</a></li>
            <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer> -->
</html>