<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/cores.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/font.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/scrollbar.css" />
  <link href="/stylesheets/styles.css" rel="stylesheet">
  <link rel="icon" href="/img/logo.png" type="image/png">
  <script src="/javascripts/pessoa.js"></script>
  <title><%= title %></title>
</head>
<body>