<nav class="navbar is-black">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      Início
    </a>
    <a class="navbar-item" href="/ticket/1" onclick="adicionarTokenAoHeader(event)">
      Tickets
    </a>
    <a class="navbar-item" href="/pessoas">
      Pessoas
    </a>
  </div>
  <div class="navbar-brand" style="margin-left: auto;">
    <% if (!user) {%>
    <a class="navbar-item" href="/form-login">
      Login
    </a>
    <% } %>
    <a class="navbar-item" href="/pessoas/novo">
      Cadastrar Usuário
    </a>
  <a class="navbar-item" href="/pessoas/1" >
    Meu perfil
  </a>
</div>
</nav>
