<nav class="navbar bg-blue-950 ">
  <div class="navbar-brand">
    <a class="navbar-item text-white" href="/">
      Início
    </a>
    <% if (user) { %>
    <a class="navbar-item text-white" href="/ticket/<%=user.id %>" onclick="adicionarTokenAoHeader(event)">
      Tickets
    </a>
    <% if (user && user.role === 'admin') { %>
    <a class="navbar-item text-white" href="/pessoas">
      Pessoas
    </a>
    <% } %>
    <% } %>
  </div>
  <div class="navbar-brand text-white" style="margin-left: auto;">
    <% if (user) { %>
      <div class="navbar-item has-dropdown is-hoverable text-white">
        <a class="navbar-link text-white hover:text-black">Bem-vindo, <%= user.nome %></a>
        <div class="navbar-dropdown text-black">
          <a class="navbar-item text-black" href="/pessoas/<%= user.id %>">Meu perfil</a>  
          <% if (user && user.role === 'admin') { %>
          <a class="navbar-item text-black" href="/pessoas/novo">Cadastrar Usuário</a>
          <% } %>
          <a class="navbar-item text-black" href="/logout">Logout</a>
        </div>
      </div>
    <% } else { %>
      <a class="navbar-item text-white" href="/form-login">Login</a>
    <% } %>

  </a>
</div>
</nav>
