<%- include("../layouts/header", {title: 'Cadastro de Usuários'}) %>

<%- include("../layouts/menu") %>

<div class="container">
    <div class="columns">
      <div class="column is-four-fifths">
        <h1 class="title is-4">Login</h1>
      </div>
      <div class="column is-one-fifth">
        <div class="buttons is-pulled-right">
          <a href="/" class="button is-small">Voltar</a>
        </div>
      </div>
    </div>
    <form action="/logar" method="POST">
      <div class="field">
        <label class="label">Nome de Usuário</label>
        <div class="control">
          <input class="input" type="text" name="username" placeholder="Digite seu nome de usuário" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Senha</label>
        <div class="control">
          <input class="input" type="password" name="password" placeholder="Digite sua senha" required>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-success">Entrar</button>
        </div>
      </div>
    </form>
  </div>
  
  <%- include("../layouts/footer") %>