<%- include("../layouts/header", {title: 'Cadastro de Usuários'}) %>

<%- include("../layouts/menu") %>

<section class="section">
    <div class="container-login" >
        <div class="columns is-centered">
            <div class="column is-one-third borda-sombra">
                <h1 class="title">Login</h1>
                <form action="/logar" method="POST">
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control">
                            <input class="input" type="text" name="username" placeholder="Seu nome de usuário" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Senha</label>
                        <div class="control">
                            <input class="input" type="password" name="password" placeholder="Sua senha" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary is-pulled-right" type="submit">Entrar</button>
                            <a href="/" class="button is-danger">Voltar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
  
  <%- include("../layouts/footer") %>