<%include('header.ejs')%>
    <form method="POST" enctype="multipart/form-data">
        Foto: <input type="file" name="Foto"><br>
        <input type="submit" name="Adicionar">
    </form>
<%include('footer.ejs')%>