 <%- include("../layouts/header", {title: 'Início'}) %>

 <%- include("../layouts/menu") %>

 <section class="section hero is-warning is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-1">
          FLASHDESK
        </h1>
        <h2 class="subtitle is-size-4">
          Sistema gestor de chamados de TI
        </h2>
        <% if(user){ %>
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="box custom-box-bg">
              <h3 class="title is-size-3 ">Tickets</h3>
              <p class="subtitle is-size-5 ">Visualize e gerencie seus tickets.</p>
              <a href="/novoticket/novo %>" class="button is-danger is-medium" >Abrir ticket</a> 
              <a href="/ticket/<%= pessoaId %>" class="button is-danger is-medium">Ver tickets</a>
            </div>
          </div>
        </div><% } %>
      </div>
    </div>
  </section>
  
  
  

  <%- include("../layouts/footer") %>